@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #67c1d9;
  --content-color: #6e6161fb;
  --border-color: #c5c2c2;
  --white-color: #ffffff;
  --hover-color: #67c1d9;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
