@import "../../Responsive/mixin.scss";

.modal_wrap {
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_table {
  @include responsive_1200 {
    left: 40rem;
  }
  @include responsive_1024 {
    left: 30rem;
  }
  @include responsive_992 {
    left: 28rem;
  }
  @include responsive_768 {
    left: 18rem;
  }
  @include responsive_425 {
    left: 5rem;
    width: 30rem;
    height: 15rem;
  }
  @include responsive_375 {
    left: 3rem;
    width: 30rem;
    height: 15rem;
  }
  @include responsive_320 {
    left: 2.5rem;
    width: 25rem;
    height: 15rem;
  }
  position: fixed;
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 20rem;
  left: 48rem;
  padding: 8px;
  animation: openModal;
  animation-duration: 0.5s;

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include responsive_425 {
      font-size: 16px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
    @include responsive_375 {
      font-size: 16px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
    @include responsive_320 {
      font-size: 16px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }

  & > p {
    font-size: 16px;
    color: var(--content-color);
  }

  .button {
    margin-top: 3rem;
    @include responsive_425 {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
    }
    @include responsive_375 {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
    }
    @include responsive_320 {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
    }

    button {
      @include responsive_425 {
        width: 13rem;
        font-size: 12px;
      }
      @include responsive_375 {
        width: 13rem;
        font-size: 12px;
      }
      @include responsive_320 {
        width: 13rem;
        font-size: 12px;
      }
      width: 15rem;
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--primary);
      background-color: transparent;
      color: var(--primary);
      cursor: pointer;
    }

    .close_btn {
      margin-right: 5px;
    }
    .confirm_btn {
      margin-left: 5px;
      background-color: var(--primary);
      color: var(--white-color);
    }
  }
}

.confirmSuccess {
  transition: all 0.5s ease;
  position: fixed;
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 5px;
  top: 20rem;
  left: 48rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: openModal;
  animation-duration: 0.5s;
  i {
    font-size: 40px;
    color: #00c921;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
  }
}

@keyframes openModal {
  from {
    transform: scale(0.5);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
