.Footer_wrap {
  background-color: var(--primary);
  .footer_container {
    padding: 20px;

    .footer_phone {
      display: flex;
      align-items: center;
      p {
        font-size: 14px;
        color: var(--white-color);
        margin-right: 10px;
      }
      h4 {
        color: var(--white-color);
        font-weight: 500;
      }
    }
    .footer_address {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        color: var(--white-color);
      }
      h4 {
        margin-right: 10px;
        color: var(--white-color);
        font-weight: 500;
      }
    }

    .copy_righting {
      text-align: start;
      color: var(--white-color);
      font-size: 14px;
    }
  }
}
