@import "../../../../Responsive/mixin.scss";

.PriceFilter_wrap {
  display: flex;
  align-items: center;
  margin-right: 20px;
  @include responsive_425 {
    padding-left: 5px;
  }
  @include responsive_375 {
    display: block;
    padding-left: 20px;
  }
  @include responsive_320 {
    display: block;
  }

  p {
    margin-right: 10px;
    color: var(--content-color);
    @include responsive_425 {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .price_select {
    width: 150px;

    .select {
      font-size: 14px;
      color: var(--content-color);
    }
  }
}
