.card_link {
  text-decoration: none;
  color: var(--content-color);
}

.cardItem_wrap {
  width: 100%;
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-left: 0;
  margin: -1px -1px 0 0;

  img {
    transition: transform 0.2s ease;
  }

  &:hover {
    img {
      // position: relative;
      // top: -5px;
      transform: translateY(-5px);
    }

    .cardItem_name {
      color: var(--primary);
      transition: all 0.3s ease;
    }
  }

  .cardItem_container {
    padding: 30px;
  }
  .cardItem_img {
    img {
      width: 100%;
    }
  }

  .cardItem_name {
    font-size: 16px;
    font-weight: 500;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .cardItem_price {
    span:nth-child(1) {
      color: var(--primary);
    }
    span {
      font-size: 16px;
      font-weight: 300;
      margin-right: 8px;
    }

    .sale_price {
      text-decoration: line-through;
    }
  }
}
